<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>646768020772-25qvs7qk55fmelsvddsbhg8dmcj40dj1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.646768020772-25qvs7qk55fmelsvddsbhg8dmcj40dj1</string>
	<key>API_KEY</key>
	<string>AIzaSyA0kM6jm4rJo3orZkbhg10gjx3vW5t0AEI</string>
	<key>GCM_SENDER_ID</key>
	<string>646768020772</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.NS.TheProject.TheProject</string>
	<key>PROJECT_ID</key>
	<string>theproject-ae237</string>
	<key>STORAGE_BUCKET</key>
	<string>theproject-ae237.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:646768020772:ios:0f4257df3b5f1fd79b77b1</string>
</dict>
</plist>